/* Style the tab */
.play {
    width: 24px;
    height: 24px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 12px 0px 12px 24px;
    border-color: transparent transparent transparent #202020;
}